<%--
  Created by IntelliJ IDEA.
  User: pradeep
  Date: Mar 22, 2010
  Time: 10:55:52 AM
  To change this template use File | Settings | File Templates.
--%>

${ response.sendRedirect("/fiehn-chem-util/chemicalSimilarityMap") }