<%--
  Created by IntelliJ IDEA.
  User: wohlgemuth
  Date: Feb 2, 2010
  Time: 2:41:43 PM
  To change this template use File | Settings | File Templates.
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
  <head><title>welcome page</title>  <meta name="layout" content="main"/>
</head>

These are your options

<p>search</p>
<p><g:link action="index" controller="discovery" >discover</g:link> </p>
<p>transform</p>

</html>