<style type

=
"text/css"
>
{
}


/**
 * defines what kind of background image we like
 */
.BodyBackground {
    background: #fff url(../images/FormBG.gif) repeat;
    margin-top: 0px;

}
/* Background color for the title which appears as heading in a page */

.FileInfoBG {
    background: #F3F3F3
}

.TableHeaderBG {
    background: #7D848B;
    border-style: solid;
    border-color: #004D71;
}

.TableBG {
    background: #F7F7F7;
    border-top-style: solid;
    border-top-color: #375472;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #375472;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-color: #375472;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: #375472;
    border-right-width: 1px;
}

.TableRowBG1 {
    background: #DBE8F6
}

.TableRowBG2 {
    background: #FFFFFD
}

.TableRowBG1_FORMULA {
    background: #DBE8F6
}

.TableRowBG2_FORMULA {
    background: #FFFFFD
}

.TableHeader {
    font-family: verdana;
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
    color: #663300
}

.TableHeaderDescription {
    font-family: verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
    color: #663300
}

.TableBG1 {
    border-top-style: solid;
    border-left-style: solid;
    border-left-color: #375472;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: #375472;
    border-right-width: 1px;
}

.AppsLabel {
    font-family: verdana;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    color: #718ea5;
}

.Label {
    font-family: Verdana;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    color: #336699
}

.Label1 {
    font-family: Verdana;
    text-decoration: none;
    font-size: 6pt;
    color: Navy
}

.Label2 {
    font-family: Verdana;
    text-decoration: none;
    font-size: 10;
    font-weight: normal;
    color: Black
}

.Label3 {
    font-family: Verdana;
    text-decoration: none;
    font-size: 11;
    font-weight: normal;
    color: Black
}

.Titles {
    font-family: Verdana;
    font-size: 12pt;
    font-weight: normal;
    color: #737ca1;
}

.AlertLabel {
    font-family: Verdana;
    text-decoration: none;
    font-size: 11;
    font-weight: normal;
    color: #ff0000
}

.LableTips {
    font-family: verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
    color: Gray
}

.EditableField1 {
    font-family: verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
    color: Black;
}

.EditableField {
    font-family: verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: normal;
    color: Black;
}

.ComputedField {
    font-family: verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
    color: Gray
}

.FileInfoBG {
    background: #F3F3F3
}

.LabelFieldB {
    font-family: Verdana;
    text-align: left;
    font-size: 8pt;
    color: black;
    font-weight: normal;
    border-width: 0px;
    background: #F3F3F3
}

/**
*	For Drop Down list box
*/
.ListBoxGUI {
    font-family: verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: normal;
    color: Black
}

/**
*	Style sheet for table definition
*/
.TDPlain {
    font-family: verdana;
    text-decoration: none;
    font-size: 8pt
}

.ActionButton {
    font-size: 12;
    color: #5E767E;
    font-weight: bold;
}

.FieldBlack {
    font-family: verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: normal;
    color: Black;
}

.FieldGrey {
    font-family: verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
    color: Gray
}

.FieldBlack1 {
    font-family: verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: normal;
    color: Black;
}

.FieldBlackSrch {
    font-family: verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: normal;
    color: Black;
}

.FldHierarchy {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #375472;
}

TD {
    font-family: verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold
}

TH {
    color: navy;
    font-weight: bold;
    font-size: 10pt
}

.LABLESAFE {
    background: #7FFF7F;
    font-family: Arial;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
    color: Navy;
}

.LABLEUNSAFE {
    background: #FF0000;
    font-family: Arial;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
    color: Navy;
}

.LABLEC {
    font-color: '#000080'
}

.Labelerrormsg {
    font-family: Verdana;
    text-decoration: none;
    font-size: 11;
    font-weight: bold;
    color: Red;
}

.LabelFooter {
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    font-size: 10pt;
    font-weight: normal;
    color: Black
}

/* Style Sheet for anker tag : Start */
a:Footer:link {
    color: #4A4A99;
    font-size: 10pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a:Footer:visited {
    color: #4A4A99;
    font-size: 10pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a:Footer:hover {
    color: #7A6262;
    font-size: 10pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a:Footer:active {
    color: #7D7DFE;
    font-size: 10pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a:link {
    color: #718ea5;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a:visited {
    color: #718ea5;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a:hover {
    color: #93b2c8;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a:active {
    color: #93b2c8;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.HompPage_Links:link {
    color: #0B3B24;
    font-size: 10pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.HompPage_Links:visited {
    color: #0B3B24;
    font-size: 10pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.HompPage_Links:hover {
    color: #957045;
    font-size: 10pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.HompPage_Links:active {
    color: #909F98;
    font-size: 10pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.LinkSG:link {
    color: #004D71;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.LinkSG:visited {
    color: #004D71;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.LinkSG:hover {
    color: #0076AE;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.LinkSG:active {
    color: #69E0E7;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.LinkB:link {
    color: #4A4A99;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.LinkB:visited {
    color: #4A4A99;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.LinkB:hover {
    color: #7A6262;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.LinkB:active {
    color: #7D7DFE;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.LinkG:link {
    color: #2A3A1A;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.LinkG:visited {
    color: #2A3A1A;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.LinkG:hover {
    color: #765025;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

a.LinkG:active {
    color: #69C210;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
}

/* Style Sheet for anker tag : End */

<

/
STYLE>
