<style type

=
"text/css"
>
{
}

html, body, #contents {
    min-height: 100%;
    width: 100%;
    height: 100%;
}

/*
 * The "height" above is a hack for IE5+/Win.  Below we adjust
 * it using the child selector to hide from IE5+/Win
 */

html>body, html>body #contents {
    height: auto; /* background: #D8D8D8; */
}

/*
 * Without this, Moz1.0 adds a vertical scrollbar
 */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#contents {
    position: absolute;
    top: 0;
    left: 0; /*  Use the following to center this at 50% width, or this for 750px: width: 700px, margin-left: -350px: */
    /*
        left: 50%;
        width: 50%;
        margin-left: -25%;
    */
}

#footer {
    position: absolute;
    bottom: 0; /*background-color: #E4E8EC;*/
    width: 70%; /* See note below */
    text-align: center;
    padding: 0 15%;
}

/* SBMH -- see http://css-discuss.incutio.com/?page=BoxModelHack
 * Stupid hack lets IE see 100%, others see 70%.
 */
#footer {
    \width: 100%;
    w\idth: 70%;
}

#footer p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

#footer a {
    color: #718ea5;
    text-decoration: none;
}

#footer a:hover {
    color: #8cc0e5;
    text-decoration: underline;
}

#main {
    margin-bottom: 2em;
    height: auto;
    padding: .5em;
}

/* Main & Extra */

#Left {
    position: relative;
    float: left;
    width: 69%;
    margin: 20px 0;
}

#Right {
    position: relative;
    float: right;
    width: 29%;
    margin: 20px 0;
}

#Left h3, #Right h3 {
    font-size: 12pt;
    font-weight: normal;
    color: #718ea5;
    margin: 0;
}

/* Line */

.line {
    background: #718ea5 url("/img/line.gif") repeat-x;
    height: 1px;
    font-size: 0;
    clear: both;
    margin: 0;
    padding: 0;
}

/* Item box */

.item {
    position: relative;
    background: #fafbfc url(/img/item_bg.gif) left bottom repeat-x;
    padding: 10px 10px 20px 10px;
    margin-bottom: 10px;
}

.item a {
    color: #93b2c8;
}

.item a:hover {
    color: #8cc0e5;
    background: #fff;
}

.item h4 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    color: #222;
}

.item p {
    font-size: 0.9em;
    text-align: justify;
    margin: 0 0 10px 0;
}

#pagePath {
    color: #718ea5;
    font-size: 5pt;
    text-decoration: none;
}

#pagePath span {
    color: #FE9A2E;
    font-size: 12pt;
    text-decoration: none;
}

#pagePath h1 a {
    color: #718ea5;
    font-size: 12pt;
    text-decoration: none;
}

#pagePath h1 a:hover {
    color: #93b2c8;
    font-size: 12pt;
}

<

/
STYLE>