/* Font setting */

body, input, select {
	font-family: Trebuchet MS, Verdana, Geneva, Arial, sans-serif;
	color: #666;
	font-size: 76%;
}



body {
	background: #718ea5 url("/compound-repository/images/FormBG.gif") center top repeat;
	padding: 0 25px;
	margin: 10px 0;
	_margin: 10px 0;
	text-align: center;
}

/* Content frame */

#shadow {
	background: #D8D8D8;
	margin: 0 auto 0 auto;
	padding: 2px 2px 2px 2px;
	text-align: left;
	width: 1000px;
}

#contents {
	border: 1px solid #ccd7e0;
	border-top: 0;
	background: #fff;
	margin: 0 0;
	padding: 0 10px 10px;
	_height: 1em;
}

/* Location */

#location {
background: url("/compound-repository/images/HeaderBkg.jpg") center top repeat;
vertical-align:top;
margin:0px 0px 0px 0px;    
}

#location h4 {
	color: #FFFFFF;
	font-size: 50px;
	padding: 0 10px;
	margin:0px;
	font-weight: normal;
}
#location h1 a {
	color: #718ea5;
	font-size: 18px;
	text-decoration: none;
}
#location h1 a:hover {
	color: #93b2c8;
}


/* Front page image */

#front {
	background: url("/img/front.gif") left bottom;
	height: 16em;
	max-height: 262px;
	margin: 20px 0;
}


#main {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0;
}


/* Main & Extra */

#Left {
	position: relative;
	float: left;
	width: 65%;
	margin: 20px 0;
}

#Right {
	position: relative;
	float: right;
	width: 30%;
	margin: 20px 0;
}


#Left h3, #Right h3 {
	font-size: 1em;
	font-weight: normal;
	color: #718ea5;
	margin: 0;
}



/* Files content */

#files {
	position: relative;
	float: left;
	margin: 20px 0;
	width: 100%;
}
#files h3 {
	font-size: 1em;
	font-weight: normal;
	color: #718ea5;
	margin: 0;
}


/* Copyright notice */

#copy {
	margin-top: 20px;
}
#copy p {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
}
#copy a {
	color: #718ea5;
	text-decoration: none;
}
#copy a:hover {
	color: #8cc0e5;
	text-decoration: underline;
}



/* Line */

.line {
	background: #718ea5 url("/img/line.gif") repeat-x;
	height: 1px;
	font-size: 0;
	clear: both;
	margin: 0;
	padding: 0;
}


/* Item box */

.item {
	position: relative;
	background: #fafbfc url(/img/item_bg.gif) left bottom repeat-x;
	padding: 10px 10px 20px 10px;
	margin-bottom: 10px;
}
.item a {
	color: #93b2c8;
}
.item a:hover {
	color: #8cc0e5;
	background: #fff;
}
.item h4 {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	color: #222;
}
.item p {
	font-size: 0.9em;
	text-align: justify;
	margin: 0 0 10px 0;
}

/* Lists */

.nav {
	padding: 0;
	margin: 0 0 0 10px;
	list-style: disc outside url("/img/arrow.gif");
}
.nav li {
	padding: 0;
	margin: 0;
}

.check {
	padding: 0;
	margin: 0 0 0 18px;
	list-style: outside url("/img/check.gif");
}
.arrow {
	padding: 0;
	margin: 0 0 0 18px;
	list-style: outside url("/img/arrow.gif");
}


.right {
	position:relative;
	float:right;
}


.files {
	width: 100%;
	
}
.files th {
	text-align: left;
}
.files td {
	border-top: 1px solid #fff;
}
.files img {
	border: 0;
	margin-right: 2px;
	vertical-align: text-bottom;
}

h4.func {
	font-size: 1.1em;
	font-weight: bold;
	color: #666;
	background: #ecf0f3;
}

/* forms */
form {
	margin: 0;
	padding: 0;
}
input {
	font-size: 1em;
}
select {
	font-size: 1em;
}

code, pre {
	padding: 1px;
	border: 1px solid #dcddde;
	background-color: #eeeff0;
	font-family: "Courier New", courier, monospace;
	font-size: 0.8em;
}