/**
 * page header
 */

.page_header {
    font-size: 21px;
    font-family: sans-serif;
    font-variant: small-caps;
    text-transform: capitalize;
                
}

.page_header:first-letter {
    font-weight: bolder;
    font-size: 22px;
}

/**
* general headers
*/
h1 {
    font-size: 18pt;

}

h2 {
    font-size: 14pt;

}

h3 {
    font-size: 12pt;
    font-weight: bold;
    font-style: normal;
    font-variant: small-caps;
    color: #0b3861;

}

h4 {
    font-size: 11pt;
    font-weight: lighter;
    font-style: normal;
    font-variant: small-caps;
    color: #0b3861;
}

h5 {
    font-size: 10pt;
    font-weight: lighter;
    font-style: italic;
}

h6 {
    font-size: 32pt;

}

/**
 * all kinds of links
 */
a:link, a:visited {
}

a:hover {
    font-weight: bolder;
}

/**
 * buttons and inputs
 */
.buttons input {
    font: 11px verdana, arial, helvetica, sans-serif;
    font-weight: normal;
}

input, select {
    font-size: 11px;
}

/**
* general body font size
*/
body {
    font-size: 12px;
    font-family: "Bookman Old Style", "Verdana", Times New Roman, Georgia, Serif;
    line-height: 6mm;
    letter-spacing: 1px;
    

}

/**
 * tables, table headers, table rows
 */
th {
    font-size: 14px;
    font-weight: bold;
}

th a:link, th a:visited {
    font-size: 14px;
}

td a:link, td a:visited {
    font-size: 12px;
}

th a:hover, td a:hover {
    font-weight: bolder;
}

td {
    font-size: 12px;
}

/**
 * labels
 */

.label {
    font-weight: lighter;
    font-size: 13px;
}

.value {
    font-weight: lighter;
    color: #717b88;
}
