<style type

=
"text/css"
>
{
}

html, body, #contents {
    min-height: 100%;
    width: 100%;
    height: 100%;
}

/*
 * The "height" above is a hack for IE5+/Win.  Below we adjust
 * it using the child selector to hide from IE5+/Win
 */

html>body, html>body #contents {
    height: auto; /* background: #D8D8D8; */
}

/*
 * Without this, Moz1.0 adds a vertical scrollbar
 */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#contents {
    position: absolute;
    top: 0;
    left: 0; /*  Use the following to center this at 50% width, or this for 750px: width: 700px, margin-left: -350px: */
    /*
        left: 50%;
        width: 50%;
        margin-left: -25%;
    */
}

#footer {
    position: absolute;
    bottom: 0; /*background-color: #E4E8EC;*/
    width: 70%; /* See note below */
    text-align: center;
    padding: 0 15%;
}

/* SBMH -- see http://css-discuss.incutio.com/?page=BoxModelHack
 * Stupid hack lets IE see 100%, others see 70%.
 */
#footer {
    \width: 100%;
    w\idth: 70%;
}

#footer p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

#footer a {
    color: #718ea5;
    text-decoration: none;
}

#footer a:hover {
    color: #8cc0e5;
    text-decoration: underline;
}

<

/
STYLE>