html * {
    margin: 0; /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/**
* general headers on the page
*/
.page_header {
    color: #0B3861;

    text-align: center;

    margin-top: 25px;
    margin-bottom: 10px;
}

.BodyBackground {
    background: #fff url(../images/FormBG.gif) repeat;
    margin-top: 0px;

}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
}

/**
 * basic layout of the boxes
 */
.box {

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.searchForm {
    vertical-align: middle;
}

a:link, a:visited, a:hover {
    color: #666;
    text-decoration: none;
}

ul {
    padding-left: 15px;
}

input, select {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;

}

textarea {
    height: 150px;
    vertical-align: top;
}

textarea.full-width {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;

}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}

.menuButton a {
    color: #333;
    padding: 4px 6px;
}

.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0px 10px 0px;
    padding: 15px 15px 15px 28px;
    vertical-align: top;
}

div.errors {
    background: #fff3f3 url(../images/skin/exclamation.png) 8px 50% no-repeat;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0px 10px 0px;
    padding: 15px 15px 15px 28px;
    vertical-align: top;
}

div.errors-center {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
    text-align: center;
}

div.errors ul {
    list-style: none;
    padding: 0;
}

div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}

td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #cccccc;
    width: 100%;
}

tr {
    border: 0;
}

td {
    line-height: 15px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: middle;

    margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
}

th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;

    line-height: 17px;
    padding: 2px 6px;
    white-space: nowrap;
    margin-top: 2px;
    margin-bottom: 2px;
    border-bottom: 2px solid #ccc;

    white-space: nowrap;

}

th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    text-decoration: none;
    width: 100%;
}

th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

th.inchi-key-no-break {
    white-space: nowrap;
    width: 200px;
}

th.formula-no-break {
    white-space: nowrap;
    width: 120px;
}

th.name-with-break, td.name-with-break {
    white-space: normal;
    width: 200px;
}

.odd {
    background: #f7f7f7;
}

.even {
    background: #ffffff;
}

/* PAGINATION */

.paginationLabel {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}

.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}

.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    margin-top: 5px;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;

    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;

}

.buttons span.wrap {
    background: #ffffff;
    width: 25%;
    float: left;

}

.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.search {
    background: transparent url(../images/skin/database-search.png) 5px 80% no-repeat;
    padding-left: 28px;
}

.buttons input.info {
    background: transparent url(../images/skin/information.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.clear {
    background: transparent url(../images/skin/clear.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.check {
    background: transparent url(../images/skin/check.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.uncheck {
    background: transparent url(../images/skin/uncheck.png) 5px 50% no-repeat;
    padding-left: 28px;
}

/**
* help image
*/
a.info {
    background: transparent url(../images/skin/information.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;

}

/**
* mark something as flagged
*/
a.flag {
    background: transparent url(../images/skin/flag.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;

}

/**
* mark something as flagged
*/
a.promote {
    background: transparent url(../images/skin/promote.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;

}

/**
* mark something as flagged
*/
a.demote {
    background: transparent url(../images/skin/demote.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;

}

/**
* search symbol
*/
a.search {
    background: transparent url(../images/skin/database-search.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;
}

/**
 * detail symbol
 */
a.detail {
    background: transparent url(../images/skin/database-detail.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;
}

/**
 * external link
 */
a.external {
    background: transparent url(../images/skin/External_Link_icon.ashx.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;
}

/**
 * external link
 */
.external-link {
    background: transparent url(../images/skin/External_Link_icon.ashx.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;
}

/**
 * a molcule
 */
a.molecule {
    background: transparent url(../images/skin/molecule.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;
}

/**
* home image
*/
a.home {
    background: transparent url(../images/skin/house.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;

}

a.result {
    background: transparent url(../images/skin/database_table.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;

}

a.transform {
    background: transparent url(../images/skin/convert16x16.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;
}

a.discovery {
    background: transparent url(../images/skin/discover16X16.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;
}

a.mass_transform {
    background: transparent url(../images/skin/masConvert16x16.png) 5px 50% no-repeat;
    padding-left: 28px;
    overflow: visible;
    white-space: nowrap;
}

span.result {

    background: transparent url(../images/skin/database_table.png) 5px 50% no-repeat;
    white-space: nowrap;
    padding-left: 28px;
}

span.blank {
    padding-left: 28px;

}

/* Line */

.line {
    background: #2647a0;
    height: 1px;
    font-size: 0;
    clear: both;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;

    width: 100%;
    padding: 0;
}

/**
 * contains all service formats
 */

ul.services {
    list-style: none;
    padding-left: 0px;
}

ul.services li {
    padding-bottom: 3px;
    padding-top: 2px;
}

ul.services li.discovery {
    background: transparent url(../images/skin/discover16X16.png) 5px 50% no-repeat;
    padding-left: 28px;
}

ul.services li.transform {
    background: transparent url(../images/skin/convert16x16.png) 5px 50% no-repeat;
    padding-left: 28px;
}

ul.services li.mass_transform {
    background: transparent url(../images/skin/masConvert16x16.png) 5px 50% no-repeat;
    padding-left: 28px;
}

ul.services li.search {
    background: transparent url(../images/skin/database-search.png) 5px 50% no-repeat;
    padding-left: 28px;
}

ul.services li.other {
    background: transparent url(../images/skin/services.png) 5px 50% no-repeat;
    padding-left: 28px;
}

ul.services h5 {
    color: #718ea5;
}

/**
* general positioning
*/
#main {
    position: relative;
    float: left;
    width: 100%;
}

/* Main & Extra */

#Left {
    position: relative;
    float: left;
    width: 65%;
    margin-left: 0px;
}

#Right {
    position: relative;
    float: right;
    width: 30%;
    margin-right: 0px;
}

.label {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    min-width: 120px;
}

.value {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    min-width: 120px;

}

.stack {
    border: 1px solid black;
    padding: 5px;
    overflow: auto;
    height: 300px;
}

.snippet {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    margin: 3px;
}

.spacer {
    height: 30px;
}

.small-spacer {
    height: 15px;
}

/**
* list with no styles
* for all elements in the bottom tag
*/

#bottom ul, #result lu {
    list-style: none;
    color: #717b88;
    padding: 0;
    margin: 0;
}

#bottom li, #result li {
    margin-top: 6px;
    margin-bottom: 6px;
    list-style: none;
    color: #717b88;

}

.left-field {
    float: left;
    text-align:left;
    width: 50%;
}

.right-field {
    float: right;
    text-align:right;

    width: 50%;
}