
.pagination{

    height:50px;
   
    margin-top:10px;
    margin-bottom:10px;
    

}


.paginationlabel {
    font-family: Verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
    color: #2e6ab1;
    border: 0;

}

.Step {
    margin-right: 2px;
    float: left;
    padding: 4px 6px;
    width:10px;
    
}

.prevLink-off,
.nextLink-off {
    color: #888888;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 3px 4px;
    width:80px;
}

.currentStep {
    background: #2e6ab1;
    margin-right: 2px;
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    float: left;
    width:10px;

}

.nextLink,
.prevLink {
    margin-right: 2px;
    float: left;
    padding: 4px 6px;
    font-weight: bold;
    width:80px;

}
