#top_part {
    float: left;
    width: 100%;
}

#bottom_part {
    float: left;
    width: 100%;
}

div.label {
    float: left;
    width: 200px;
    clear: both;
}

div.value {
    float: left;
    width: auto;
    white-space: normal;
}

#general-properties {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    min-width: 400px;
}

#general-properties-tab {
    float: left;
    width:70%;
    margin-bottom: 20px;
    min-width: 400px;
}


#general-properties .box {

    padding-top: 0px;
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 0px;

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
}

#structure {
    float: right;
    width: 250px;
    min-width: 250px;
    margin-bottom: 20px;
}

#synonyms {
    float: left;
    width: 50%;
    margin-bottom: 20px;
    min-width: 400px;
    min-height: 300px;
}

#synonyms .box {

    padding-top: 0px;
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 0px;

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
}

#synonyms .box .tag {
    height: 100%;
    border: 0px solid #BBBBBB;
    width: 100%;
    overflow:hidden;
}

#synonyms .box .tagLink {
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
    color: #656565;
}

#iupac-names {
    float: left;
    width: 50%;
    margin-bottom: 20px;
    min-width: 300px;
}

#smile-codes {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

#database-identifier {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

