<style type

=
"text/css"
>
{
}

.pagination {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 11px;
    list-style: none;
    margin-right: 2px;
}

.paginationlabel {
    font-family: Verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
    color: #2e6ab1;
}

.Step {
    border: solid 1px #9aafe5;
    margin-right: 2px;
    float: left;
    padding: 4px 6px;
}

.prevLink-off,
.nextLink-off {
    border: solid 1px #DEDEDE;
    color: #888888;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 3px 4px;
}

.currentStep {
    border: solid 1px #9aafe5;
    background: #2e6ab1;
    margin-right: 2px;
    color: #FFFFFF;
    font-weight: bold;
    display: block;
    float: left;
    padding: 4px 6px;
}

.nextLink,
.prevLink {
    border: solid 1px #9aafe5;
    margin-right: 2px;
    float: left;
    padding: 4px 6px;
    font-weight: bold;
}

<

/
STYLE>