<%--
  Created by IntelliJ IDEA.
  User: wohlgemuth
  Date: Feb 9, 2010
  Time: 5:37:43 PM
  To change this template use File | Settings | File Templates.
--%>

<%@ page import="compound.repository.entries.Compound" contentType="text/html;charset=UTF-8" %>
<html>

      <%
        for(Compound compound : model){
          %>

            <h4>${compound}</h4>
      <%
        }

      %>
</html>                                       